<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Real-Time Surveys built with Realm</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style type="text/css">
            .realm {
                color:#ffffff;
                background-color:#59539E
            }
        </style>
        <script type="text/javascript">

            angular.module('app', [])
              .controller('QuestionController', ['$scope', function ($scope) {
               
                    $scope.formData = {};
                    $scope.questions =  [
                        { text: 'Do you like ice cream?', yesCount: 16, noCount: 4 },
                        { text: 'Are you an Android Developer?', yesCount: 11, noCount: 2 },
                        { text: 'Are you using Realm?', yesCount: 37, noCount: 12 }
                    ];

                    // when submitting the add form, send the text to the node API
                    $scope.addQuestion = function() {
                         var questionText = $scope.formData.questionText;
                    };

                    // delete a todo after checking it
                    $scope.deleteQuestion = function(id) {

                    };


              }]);

        </script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="QuestionController">
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <!--                   <li><a href="/about">About us</a></li> -->
                    </ul>
                </nav>
            </div>
            <br/>
            <div class="container theme-showcase" role="main">
                <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron realm">
                    <h1>Real-Time Survey</h1>
                    <p>Built with <span style="color:red;">&hearts;</span> by Realm</p>
                </div>
                <div class="page-header">
                    <h1>Add Survey Questions</h1>
                </div>
                <div class="container">
                    <form class="form-signin">
                        <label for="inputQuestion" class="sr-only">Question?</label>
                        <input ng-model="formData.questionText" type="question" id="inputQuestion" class="form-control" placeholder="Question" required autofocus>
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block realm" type="submit" ng-click="addQuestion()">Add</button>
                    </form>
                </div>
                <div class="page-header">
                    <h1>Responses</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Responses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="question in questions">
                                    <td> {{ question.text }}</td>
                                    <td>
                                        <b>Yes</b> ({{question.yesCount}}) <b>No</b> ({{question.noCount}})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>